@import '../variables.scss';

.products-list-result{
  margin: 0;
  li{
    &:not(:last-of-type){
      border-bottom: 1px solid $gray;
    } 
  }
}

.product-list-item-link{
  color: $defaultColor;
  padding: 32px 0;
  display: block;
  &:hover{
    text-decoration: none;
    color: lighten($defaultColor, 20%);
  }
}