@import '../variables.scss';

.product-detail-info-text{
  color: lighten($dark_gray, 20%);
}

.product-detail-info-middot{
  margin: 0 4px;
}


.product-detail-info-price{
  font-size: 36px;
}
.product-detail-info-title{
  font-size: 20px;
  margin-top: 0;
}


.product-detail-city{
  font-size: 12px;
}

.product-detail-info-wrapper{
  position: relative;
}

.desktop-fixed-cta{
  @media(min-width: 768px){
    position: fixed;
    widows: inherit;
    padding: 0 16px 0 8px;
  }
  @media(min-width: 768px) and (max-width: 991px){
    max-width: 242px;
  }
  @media(min-width: 992px) and (max-width: 1999px){
    max-width: 315px;
  }
  @media(min-width: 1200px){
    max-width: 382px;
  }
}

.product-detail-description{
  padding-top: 50px;
  @media(max-width: 767px){
    padding-top: 20px;
  }
  img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  div,table{
    max-width: 100%;
    width: 100%;
  }
}

.product-detail-info-price-cents{
  font-size: 20px;
  vertical-align: text-top;
}