$yellow: #FFF059;
$gray: #EEEEEE;
$dark_gray: #727980;
$blue: #3483fa;


$defaultColor: #444;
$defaultSpacing: 8px;

.m-r-lg{
  margin-right: $defaultSpacing*4;
  @media(max-width: 768px){
    margin-right: $defaultSpacing*2;
  }
}

.p-a-sm{
  padding: $defaultSpacing;
}

.p-v-sm{
  padding-top: $defaultSpacing;
  padding-bottom: $defaultSpacing;
}

.p-v-md{
  padding-top: $defaultSpacing*2;
  padding-bottom: $defaultSpacing*2;
}

.p-h-sm{
  padding-left: $defaultSpacing;
  padding-right: $defaultSpacing;
}

.b-radius-xs{
  border-radius: $defaultSpacing/2;
}

.b-radius-sm{
  border-radius: $defaultSpacing;
}

.b-radius-md{
  border-radius: $defaultSpacing*2;
}

.b-radius-lg{
  border-radius: $defaultSpacing*4;
}

.bg-white{
  background: white;
}

.inline{
  display: inline-block;
}

.btn-primary{
  background: $blue;
  &:hover{
    background: darken($blue, 20%);
  }
}

.form-inline-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  .form-group{
    display: inline-flex;
  }
  button{
    display: inline-flex;
  }
}

.content-container{
  margin-bottom: 20px;
}